<footer class="bg-gray-50 dark:bg-gray-800">	
  <div class="container flex items-center max-w-6xl px-2 py-1 mx-auto">
    <div class="flex flex-wrap items-center w-full mx-auto">
      <div class="flex justify-center w-full font-extrabold text-gray-700 hover:opacity-100 dark:text-white md:w-1/2 md:justify-start">
        <span class="inline-block px-3 py-2 text-base text-gray-700 hover:opacity-100 dark:text-white lining-nums opacity-70"> Copyright <%= Date.today.year %> Ben Wilson</span>
      </div>
      <div class="flex content-center justify-between w-full pt-2 md:w-1/2 md:justify-end">
        <ul class="flex items-center justify-center flex-1 list-reset md:flex-none">
          <li>
          <span class="inline-block px-3 py-2 text-base text-gray-700 hover:opacity-100 dark:text-white opacity-70">Hello from Virginia</span>
          </li>
          <li>
          <a class="inline-block px-3 py-2 text-gray-700 no-underline opacitopacity-100y-50 hover:op dark:text-white opacity-60 hover:opacity-100 hover:underline" href="/privacy/">Privacy</a>
          </li>
          <li>
          <a class="inline-block px-3 py-2 text-gray-700 no-underline opacitopacity-100y-50 hover:op dark:text-white opacity-60 hover:opacity-100 hover:underline" href="/terms/">Terms of use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
