<section id='hero'>
  <div class="relative flex items-center content-center justify-center pt-16 pb-32" style="min-height:75vh">
    <div class="absolute top-0 z-0 w-full h-full bg-center bg-cover" style="background-image:url(&#x27;<%=hero_background(@book)%>&#x27;)">
    <div class="absolute top-0 z-10 w-full h-full bg-center bg-cover opacity-20" 
    style="background-image:url(&#x27;<%= image_url('backgrounds/oil-underlay.jpg')%>&#x27;)"></div>
    <span id="blackOverlay" class="w-full h-full absolute opacity-95 bg-gray-900 <%= overlay || 'bg-gray-900' %>"></span>
  </div>
  <div class="container relative max-w-screen-lg p-4 mx-auto text-white md:text-2xl">
    <%= render partial: @book, locals: {headlined: true, bordered: false} %>
  </div>
</section>
