<aside class="my-8 border rounded px-8 py-4 text-center max-w-lg mx-auto -rotate-1 transform">
<p class="font-bold py-2">Subscribe below to get future posts from Ben Wilson</p>
<input type="email" class="form-input rounded" placeholder="Type your email…">
<button class="<%= button_css() %>">Subscribe</button>

<p>Or grab the <%= link_to 'RSS feed', "#", class: "underline" %></p>

</aside>
