<a href="<%= url %>" class="block md:inline-block px-4 py-2 font-semibold leading-none rounded text-gray-500 opacity-60 border-gray-500 hover:border-transparent hover:opacity-100 mt-4 md:mt-0 uppercase"><%= text %></a>
