<a href="<%= url %>" class="block px-4 py-2 mt-4 font-semibold leading-none text-gray-500 uppercase border-gray-500 rounded md:inline-block dark:text-white opacity-60 hover:border-transparent hover:opacity-100 md:mt-0"><%= text %></a>
